#chart_content{
    position: relative;
    width:65rem;
    left:13rem;
    display: flex;
    flex-direction: row;
}
#chart_left_content{
    position: relative;
    width:43rem;
}
#chart_right_content{
    margin-left: 5rem;
    margin-top: 5rem;
}
#chart_title{
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bolder;
}
#chart_small_title{
    margin-top: 1rem;
    color: rgb(0,119,34);
    margin-bottom: 1.5rem;
}
.title_middle{
    margin-top: 1rem;
    color: rgb(0,119,34);
    margin-bottom: 1.5rem;
}
.film_in{
    border-top: 1px dashed rgb(221,221,221);
    border-bottom: 1px dashed rgb(221,221,221);
    height: 10rem;
    display: flex;
}
.film_pic{
    margin-top: 1rem;

    width:5.2rem;
    height: 7rem;
}
.fime_picture{
    width:5.2rem;
    height: 7rem;
}
.pic_right{
    width:37rem;
    margin-left: 1.5rem;
}
.small_film_name{
    margin-top: 1rem;
    color: rgb(51,119,170);
    display: inline-block;
}
.small_film_name:hover{
    background-color: rgb(51,119,170);
    color: white;
    cursor: pointer;
}
.film_name_information{
    margin-top: 0.8rem;
    font-size: 0.8rem;
    color: rgb(102,102,102);
    display:block;
    word-break: break-all;
    word-wrap: break-word;
}
.eva{
    margin-top: 0.8rem;
}
.peo_numbers{
    display: inline-block;
    font-size: 0.7rem;
    color: rgb(102,126,181);
    margin-left: 0.4rem;
}
#sort_box{
    width: 18rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#sort_box div{
    color: rgb(51,119,170);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    display: inline-block;
    margin-right: 1rem;
}
#sort_box div:hover{
    background-color: rgb(51,119,170);
    color: white;
    cursor: pointer;
}
.list_style{
    margin-top: 2rem;
}
.item{
    line-height: 2rem;
    font-size: 0.7rem;
    height: 1.8rem;
    border-bottom: 1px dashed rgb(221,221,221);
}
.name{
    margin-left: 0.5rem;
    color:rgb(51,119,170);
}
.name:hover{
    background-color: rgb(51,119,170);
    color: white;
    cursor: pointer;
}
#douban_img img{
    width:18rem;
}
#douban_img{
    margin-top: 2rem;
}
#top_title span{
    font-size: 0.5rem;
    color: rgb(102,102,153);
    margin-left: 2rem;
}
#top_title span:hover{
    background-color: rgb(51,119,170);
    color: white;
    cursor: pointer;
}
#top_films{
    height: 28rem;
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
}
.top_film{
    height: 9.1rem;
    width:4.35rem;
    margin-right: 0.5rem;
}
.top_film_pic{
    cursor: pointer;
    margin-top: 1rem;
    width:4.35rem;
    height: 6rem;
}
.top_filmimg{
    width:4.35rem;
    height: 6rem;
}
.top_film_name{
    width: inherit;
    margin-top: 1rem;
    display: inline;
    font-size: 0.5rem;
    color: rgb(51,119,170);
    cursor: pointer;
}
.top_film_name:hover{
    background-color: rgb(51,119,170);
    color: white;
}