*{
    margin: 0;
    padding: 0;
}

.font01 {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(102, 102, 153);
}
.font02 {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(51, 140, 200);
}
.font03 {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(153,153,153);
}
.font04{
    font-size: 0.9rem;
    text-decoration: none;
    color:rgb(51,51,51)
}

.header_font01 {
    font-size: 1rem;
    color: black;
}
.hoverall:hover {
    background-color: rgb(34, 119, 170);
    height: 1.1rem;
    color: white;
    cursor: pointer;
}
.box_border {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    height: 1.9rem;
    line-height: 1rem;
    border-bottom: 1px solid rgb(234, 234, 234);
}
.stars{
    position: absolute;
    top: 50%;
    left:50%;
    width:90px;
    height: 25px;
}
.star {
    display: inline-block;
    width: 65px;
    height: 12px;
    background: url("source/pictures/mix/star.png") no-repeat;
    background-position: 0% 0%;
    background-size: 60px;
}
.star-point {
    display: inline-block;
    font-size: 13px;
    color: rgb(226, 144, 96);
}
.input_style{
    margin-left: 2rem;
    margin-top:1.2rem;
    outline: none;
    width:10rem;
    border:1px solid rgb(228,230,229);
    height: 2rem;
    padding-left: 0.7rem;
    padding-right: 4rem;
    border-radius: 0.2rem;
}
.button{
    cursor:default;
    text-align: center;
    margin-top: 1rem;
    line-height: 1.8rem;
    margin-left: 2rem;
    width:14.8rem;
    background-color: rgb(65,172,82);
    height: 2rem;
    font-weight: 600;
    color:white;
    border-radius: 0.3rem;
}
#filesort{
    position: relative;
    top:0.3rem;
    left: 1.5rem;
    cursor: pointer;
}
.stars{
    position: absolute;
    top: 50%;
    left:50%;
    width:90px;
    height: 25px;
    border: 1px solid black;
}
.star{
    display: inline-block;
    width:65px;
    height: 12px;
    background: url("../pictures/mix/star.png") no-repeat;
    background-position: 0% 0%;
    background-size:60px;
}
.star-point{
    display: inline-block;
    font-size: 13px;
    color:rgb(226,144,96);
}
#bottom{
    position: relative;
    display: flex;
    font-size: 0.8rem;
    margin-left: 13rem;
    padding-top: 0.5rem;
    margin-top: 3rem;
    border-top: 1px dashed rgb(221,221,221);
    width:65rem;
    padding-bottom: 0.5rem;
}
#comp{
    color:rgb(179,153,153);
}
#about{
    display: flex;
    margin-left: 10rem;
}
#about>div{
    margin-left: 0.2rem;
    cursor: pointer;
    margin-right: 0.2rem;
    color:rgb(51,119,170);
}
#about>div:hover{
    color: white;
    background-color: rgb(51,119,170);
}
.warp{
    white-space:normal;
    word-break:break-all;
    word-wrap:break-word; 
}