#nav {
position: relative;
display: flex;
justify-content: space-between;
width: 100rem;
height: 1.8rem;
background-color: rgb(84, 86, 82);
font-size: small;
}
#nav_left {
display: flex;
width: 35rem;
height: 1.8rem;
justify-content: space-around;
align-items: center;
}
#nav a {
color: rgb(213, 213, 213);
text-decoration: none;
}
#nav a:hover {
color: white;
}
#nav_right {
display: flex;
justify-content: space-around;
width: 15rem;
height: 1.8rem;
align-items: center;
}
#nav_right a {
height: 1.8rem;
text-align: center;
line-height: 1.8rem;
}
#download {
position: absolute;
z-index: 1;
left: 77rem;
width: 16rem;
height: 30rem;
display: none;
background-color: white;
border: 1px solid rgb(230, 230, 230);
}
#tag {
position: relative;
top: 5rem;
left: 4.5rem;
width: 7rem;
height: 7rem;
border-radius: 1.8rem;
color: white;
line-height: 6rem;
text-align: center;
font-size: 5rem;
font-weight: 600;
background-color: rgb(8, 202, 18);
}
#tag_L1 {
position: relative;
top: 6rem;
left: 6.5rem;
font-size: 1.5rem;
}
#tag_img {
position: relative;
top: 8rem;
left: 3rem;
width: 10rem;
}
#tag_download {
position: relative;
color: rgb(51, 140, 200);
text-decoration: none;
font-size: 0.6rem;
top: 8.6rem;
left: 5rem;
}
#nav_2 {
position: relative;
width: 100rem;
height: 8rem;
background-color: rgb(240, 243, 245);
}
#search {
position: relative;
width: 44rem;
left: 12rem;
top: 0.7rem;
height: 4rem;
display: flex;
justify-content: space-between;
align-items: center;
}
#search_logo {
color: rgb(37, 141, 205);
font-size: 1.8rem;
font-weight: 600;
}
#search a {
text-decoration: none;
}
#search_go {
display: flex;
width: 32rem;
}
#search_go1 {
border: none;
border-radius: 2px;
width: 32rem;
height: 2rem;
box-shadow: 0px 2px rgb(224, 224, 224);
outline: none;
padding-left: 1rem;
}
#search_go2 {
height: 2.1rem;
}
#nav_3 {
display: flex;
justify-content: space-around;
position: relative;
width: 42rem;
height: 2rem;
top: 1.8rem;
left: 12rem;
}
#nav_3 a {
color: rgb(34, 119, 177);
text-decoration: none;
font-size: 0.9rem;
}
#nav_3 a:hover {
background-color: rgb(34, 119, 170);
color: white;
height: 1.5rem;
}
#pic_r {
    position: relative;
    left: 60rem;
    top: -3.4rem;
    width: 11.5rem;
}
#pic_c {
    position: relative;
    top: 2.5rem;
    width: 70rem;
    left: 14rem;
}
#classify_box {
    position: relative;
    display: flex;
    flex-direction: column;
    left:13rem;
    width:42rem;
}
.clissify_choices{
    margin-bottom: 1rem;
}
.clissify_cchoice{
    border-radius: 0.1rem;
    display: inline-block;
    margin-left: 0.2rem;
    padding: 0.2rem 0.5rem;
}
.cchoice_hover:hover{
    cursor: pointer;
    color:rgb(81,164,215);
}
#classify_title{
    font-size: 1.5rem;
    font-weight:bold;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}
.self_choice{
    display: inline-block;
    color: rgb(153,166,196);
}
.self_choice:hover{
    cursor: pointer;
    color:rgb(81,164,215);
}
.choice_hover{
    cursor: pointer;
    display: inline-block;
    background-color: rgb(81,164,215);
    color: white;
}
#sub_self{
    
    cursor: pointer;
    margin-left: 0.5rem;
}
.sub_selfchoice{
    display: none;
}
#self_text{
    width:5rem;
    outline: none;
    height: 1.4rem;
    padding-left: 0.5rem;
    border:1px solid rgb(51,140,200)

}
#file_top{
    margin-top: 2rem;
    left:0.2rem;
    position: relative;
    display: flex;
    
}
#filetop_title{
    display:flex;
    border-left: 1px solid rgb(223,223,223);
    border-right: 1px solid rgb(223,223,223);
}

.top_choice{
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-top: 1px solid rgb(223,223,223);
    border-bottom: 1px solid rgb(223,223,223);
}
.top_choice:hover{
    cursor: pointer;
    color:rgb(37,172,227);
}
.top_choice_click{
    background-color: rgb(244,249,252);
    border:1px solid rgb(140,195,229);
    color: rgb(37,172,227);
}
#self_top_choice{
    cursor: pointer;
    display: flex;
    text-align: center;
}
#self_top_choice span{
    position: relative;
    top:0.3rem;
    left:0.2rem;
}
.img_mkchoicec{
    position: relative;
    margin-top: 0.5rem;
    display: none;
    width: 1rem;
    height: 1rem;
    margin-left: 1.5rem;
}
.img_mkchoicec img{
    width:1rem;
    height: 1rem;
}
.smallbox{
    margin-top: 0.5rem;
    border:1px solid rgb(153,153,153);
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.15rem;
    margin-left: 1.5rem;
}
.mk_choice{
    display: flex;
}
#showfile img{
    cursor: pointer;
    margin-left: 0.5rem;
    width:0.9rem;
}
#showfile{
    display: flex;
    position: relative;
    top:0.4rem;
    left:2rem;
}
.film_big_box{
    display: flex;
    width: 45rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.film_hidden{
    display: none;
}
.filem_small_box{
    width: 7.35rem;
    height: 13.5rem;
    margin-right: 1rem;
}
.img_box{
    height: 10rem;
}
.film_img{
    width: 7.35rem;
    height: 10rem;
    cursor: pointer;
}
.name_points{
    margin-top: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    word-break:break-all;
    word-wrap:break-word;
    cursor: pointer;
}
.name_points:hover{
    text-decoration: underline;
}
.points{
    color:rgb(255,172,45);
    display: inline-block;
    margin-left: 0.3rem;
}
#load_more{
    cursor: pointer;
    margin-top: 2rem;
    position: relative;
    margin-left: 0.5rem;
    width: 39rem;
    height: 2.5rem;
    background-color: rgb(247,247,247);
    color: rgb(37,154,217);
    line-height: 3em;
    text-align: center;
    font-size: 0.9rem;
}
#load_more:hover{
    background-color: rgb(238,238,238);
}
.film_in{
    height: 10rem;
    display: flex;
}
.film_pic{
    margin-top: 1rem;
    width:5.2rem;
    height: 7rem;
}
.fime_picture{
    width:5.2rem;
    cursor: pointer;
    height: 7rem;
}
.pic_right{
    width:37rem;
    margin-left: 1.5rem;

}
.small_film_name{
    margin-top: 1rem;
    color: black;
    display: inline-block;
    cursor: pointer;
}
.small_film_name:hover{
    text-decoration: underline;
}
.film_name_information{
    margin-top: 0.4rem;
    font-size: 0.8rem;
    color: rgb(153,153,153);
    display:block;
    word-break: break-all;
    word-wrap: break-word;
}
.film_name_information>div>div{
    display: inline-block;
    margin-left: 0.5rem;
}
.film_name_information>div{
    margin-top: 0.3rem;
}
.eva{
    margin-top: 0.3rem;
}
