* {
    padding: 0;
    margin: 0;
}
#nav{
    position: relative;
    width:100rem;
    height:4.5rem;
    background-color: rgb(237,244,237);
}
#nav_picture{
    position: relative;
    top:1rem;
    left:16rem;
    height: 2rem;
    width:10rem;
}
#box{
    position: relative;
    margin-left: 12rem;
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 20rem;
}
#findp{
    position: relative;
    margin-left: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.little{
    position: relative;
    margin-top: 1rem;
    margin-left: 5rem;
}
#blank{
    margin-left: 5rem;
    width: 30rem;
    height: 2rem;
    border-bottom: 2px dashed rgb(204,204,204);
}
#next{
    position: relative;
    margin-top: 2rem;
    margin-left: 5rem;
    width: 8rem;
}